<div class="navbar bg-dark float-lg-left">
    <nav class="navbar navbar-default w-100 p-3" role="navigation">
      <div class="container-fluid">
      
          <div class="navbar-header">
              <a class="navbar-brand" href="#">
                  <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                  <h4>Welcome to Lms</h4><br>
              </a>
      
              <ul class="nav navbar-nav">
                 <li><a href="/courses/listCourses" class="btn btn-primary float-right col-md-11">  Dashboard   </a></li><br>
                 <li><a href="/courses/createCourse" class="btn btn-primary float-right col-md-11">Manage Course</a></li>
                 <li><a href="/editProfile" class="btn btn-primary float-right col-md-11">Edit Profile</a></li>
                 <li><a href="/editProfile" class="btn btn-primary float-right col-md-11">Change Password</a></li> <br>
                  <a class="btn btn-outline-primary float-right col-md-12" href="/login">logout</a>
              </ul>
          </div>
      </div>
      </nav>
  </div>